//
// Typography
//

// Override the default Bootstrap base font family
// 
// Roboto Slab is being used below and is brought in
// via Google fonts in the head of src/pug/index.pug.
// The fonts listed afterwards are fallbacks.

$font-family-base: "Roboto Slab",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";

// Override the default Bootstrap headings font family
// 
// Montserrat is being used below and is brought in
// via Google fonts in the head of src/pug/index.pug.
// The fonts listed afterwards are fallbacks.

$headings-font-family: "Montserrat",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";

// Links
$link-color: $gray-900;
$link-hover-color: $primary;
$link-decoration: none;

// Headings
$headings-font-weight: 500;


